<div class="reservationSquare" id="reservationSquareMore">
<%= simple_form_for(@toilet_paper) do |f| %>
  <%= f.select :color, collection: ["pink", "yellow", "black"], input_html: {data: {controller: "tom-select"}} %>
  <%= f.select :thickness, collection: ["single-ply", "2-ply", "3-ply", "4-ply"], input_html: {data: {controller: "tom-select"}} %>
  <%= f.input :scent, placeholder: "Cinnamon, Chocolate..."%>
  <%= f.input :price, placeholder: ".CHF/roll" %>
  <%= f.input :used, as: :radio_buttons %>
  <%= f.input :premium, as: :radio_buttons %>
  <%= f.submit %>
<% end %>
</div>
