
<%= render "navbar_wagon" %>

<div class="d-flex align-items-center">
  <%= link_to "Back", root_path, class: "back" %>


  <div class="all_search flex-grow-1">
    <%= form_with url: toilet_papers_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "search_bar form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "search_button" %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="boxs">
      <% if @toilet_papers.any? %>
        <% @toilet_papers.each do |paper| %>
          <div class="box">
            <div class="card-img">
              <%= image_tag( paper.photo_url, height: "200", width: "100%")%>
            </div>
            <div class="box-infos">
              <h4>
                <%= paper.title %>
              </h4>
              <h2>
                <%= paper.price %> .Chf
              </h2>
            </div>
            <%= link_to image_tag(""), toilet_paper_path(paper) %>
            <%= link_to "Show this toilet paper", toilet_paper_path(paper) %>
          </div>
        <% end %>
      <% else %>
        <em>Sorry, no toilet papers found.</em>
      <% end %>
    </div>
  </div>
</div>

<%= render "footer" %>
