
<%= render "navbar_wagon" %>

<br/>
<%= link_to "Back", root_path, class: "btn btn-flat" %>
<br/>
<div class="bar_recherche">
  <%= simple_form_for :search, url: root_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>
</div>

<%#MANQUE LA BARRE DES FILTRES %>


<% @toilet_papers.each do |paper| %>
<div>
    <div class="box">
      <%= link_to paper.title, toilet_paper_path(paper) %>
      <%= image_tag("toilet_paper.jpg", height: '180')%>
      <%= paper.price %>
    </div>
    <br/>
  <% end %>
</div>


<br/>
<br/>
<%= render "footer" %>
