
<%= render "navbar_wagon" %>

<%= link_to "Back", root_path, class: "btn btn-flat" %>

<%#MANQUE LA BARRE DES FILTRES %>

<div class="container">
  <div class="row">
      <%= form_with url: toilet_papers_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    <div class="boxs">
      <% if @toilet_papers.any? %>
        <% @toilet_papers.each do |paper| %>
          <div class="box" id="card-trip">
            <div class="card-img">
              <%= image_tag("toilet_paper.jpg", height: "200", width: "100%")%>
            </div>
            <div class="card-trip-infos">
              <h4>
                <%= paper.title %>
              </h4>
            </div>
            <h2>
              <%= paper.price %>
            </h2>
            <%= link_to "Show this toilet paper", toilet_paper_path(paper) %>
          </div>
        <% end %>
      <% else %>
        <em>Sorry, no toilet papers found.</em>
      <% end %>
    </div>
  </div>
</div>

<%= render "footer" %>
