
<%= render "navbar_wagon" %>

  <div class="button_retour">
      <%=link_to "Back", toilet_papers_path, class:"back" %>
  </div>

  <h1>Your articles on the market</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center">
        <%= image_tag("add.jpg", height: '240', class: 'rounded')%>
    </div>
  </div>
</div>

<div class="separation"></div>

<div class="tout_les_images">
  <div class="d-flex flex-wrap justify-content-center align-items-center">
    <% @toilet_papers.each do |paper| %>
      <div>
        <a class="bouton_show" href="show">
          <div class="box">
            <%= link_to paper.title, toilet_paper_path(paper) %>
            <%= image_tag("toilet_paper.jpg", height: '180')%>
            <%= paper.price %>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>

<%= render "footer" %>
