  <%= render "navbar_wagon" %>
<%= @toilet_paper.description %>
    <div class="button_retour">
      <%=link_to "Back", toilet_papers_path, class:"back" %>
    </div>

    <h1> <%= @toilet_paper.title %> </h1>

    <div class="imagebox">

      <div class="image1">
      <%=image_tag("image1.jpg", height: '300')%>
      </div>

      <div class="image2">
        <%=image_tag("image2.jpg", height: '300')%>
      </div>

      <div class="image3">
        <%=image_tag("image3.jpg", height: '300') %>
      </div>

    </div>


    <div class="d-flex">

  <div class="description">

    <h2>Description of Product</h2>
    <p class="input-description" name="description" readonly><%= @toilet_paper.description %></p>

  </div>


  <div class="reservationSquare">

    <h3>Quantity</h3>
    <input class="input" type="number" name="quantity">

    <h3>Color</h3>
    <input class="input" type="text" name="color">

    <h3>Thickness</h3>
    <input class="input" type="number" name="quantity">

    <h3>Sent</h3>
    <input class="input" type="text" name="smell">

    <h3>Price</h3>
    <input class="input" type="number" name="price">
  </div>
</div>


<%= render "footer" %>
