  <%= render "navbar_wagon" %>

    <div class="button_retour">
      <%=link_to "Back", toilet_papers_path, class:"back" %>
    </div>

    <h1>Title of toilet paper</h1>
    <div class="imagebox">

      <div class="image1">
        <%=image_tag("toilet_paper.jpg", height: '300')%>
      </div>

      <div class="image2">
        <%=image_tag("image2.jpg", height: '300')%>
      </div>

      <div class="image3">
        <%=image_tag("image3.jpg", height: '300') %>
      </div> 

    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <% @toilet_papers.each do |paper| %>
          <%= paper.title %>
          <%= paper.description %>
          <%= paper.photo_url %>
          <%= paper.color %>
          <%= paper.thickness %>
          <%= paper.scent %>
          <%= paper.price %>
          <%= paper.used %>
          <% end %>
        </div>
      </div>
    </div>

          <div class="button_order">
            <%=link_to "Order", toilet_papers_path, class:"order" %>
          </div>
        </div>

    </div>

<%= render "footer" %>
