  <%= render "navbar_wagon" %>

    <div class="button_retour">
      <%=link_to "Back", toilet_papers_path, class:"back" %>
    </div>

    <h1> <%= @toilet_paper.title %> </h1>
    <div class="imagebox">

      <div class="image1">
      <%=image_tag("image1.jpg", height: '300')%>
      </div>

      <div class="image2">
        <%=image_tag("image2.jpg", height: '300')%>
      </div>

      <div class="image3">
        <%=image_tag("image3.jpg", height: '300') %>
      </div>

    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <%= @toilet_paper.description %>
          <%= @toilet_paper.photo_url %>
          <%= @toilet_paper.color %>
          <%= @toilet_paper.thickness %>
          <%= @toilet_paper.scent %>
          <%= @toilet_paper.price %>
          <%= @toilet_paper.used %>
        </div>
      </div>
    </div>
    <div class="reservationSquare">
          <h3>Location</h3>
            <input class="input" type="text" name="location">

          <h3>Arrival date</h3>
            <input class="input" type="date" name="arrivalDate">

          <h3>Quantity</h3>
            <input class="input" type="number" name="quantity">

          <h3>Price</h3>
            <input class="input" type="number" name="price">
      </div>
          <div class="button_order">
            <%=link_to "Order", toilet_papers_path, class:"order" %>
          </div>
          <div class="button_order">
            <%=link_to "Delete", toilet_papers_path, class:"order" %>
          </div>
        </div>
    </div>

<%= render "footer" %>
