<!DOCTYPE html>
<html>
<head>
  <title>MontQAngels</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="styles.scss">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>

<body>
  <h1>MontQAngels</h1>
    <div class="image">
      <%=image_tag("logo.png", height: '400')%>
    </div>
  <h2>Pure softness for heavenly hygiene!</h2>
    <div class="button_parameter">
      <%=link_to "Let's go!", toilet_papers_path, class:"welcome_button" %>
    </div>
  </body>
</html>
